{% load static %}
<html lang="ru">
    <head>
        <title>Studio state</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        <div class="container login" id="login-part">
            <div class="login">
                <div class="form-wrapper">
<!--                    <span>-->
                        <label for="login-username">Логин</label>
                        <input type="text" name="login-username" id="login-username">
<!--                    </span>-->
<!--                    <span>-->
                        <label for="login-password">Пароль</label>
                        <input type="password" name="login-password" id="login-password">
<!--                    </span>-->
                    <input type="button" value="Войти" onclick="Login.login()" class="login-btn">
                </div>
                <div class="back-btn-wrapper login-btn">
                    <input type="button" value="Вернуться" onclick="pageUp()">
                </div>
            </div>
        </div>

        <div class="container main" id="main-part">
            <div class="main-part">
                <div class="main-btn-wrapper login-btn">
                </div>
                <div class="state-wrapper" id="studio-state">
                    <div class="state-indicator">
                    </div>
                    <div class="state-text">
                    </div>
                </div>
                <div class="date-wrapper">
                    <span>{{weekday}},<br />{{date}} г.</span>
                </div>
            </div>
        </div>
    </body>
</html>